---
title: About Write/Speak/Code
---

.lead
  Each of the three days will focus on a single area and consist of highly interactive panels, workshops, and talks. 
.day_summaries
  %ul.days
    - data.days.days.each do |name, info|
      %li
        .day_icon
          %span{ class: "icon-#{info.icon}" }
        .day_summary
          %strong.area= name
          %p
            %strong.weekday= info.weekday
            = info.summary

            %a.primary{ href: "/about/#{name}.html" }
              Learn more
              %i.icon-double-angle-right

%hr

%p
  %strong= data.days[:each_day][:headline]
  and will include:
  %ul
    - data.days[:each_day][:includes].each do |item|
      %li= item
