---
title: About Write/Speak/Code
---

.lead
  Each of the three days will focus on a single area and consist of highly interactive panels, workshops, and talks. 
.day_summaries
  %ul.days
    - data.days.days.each do |name, info|
      %li
        .day_icon
          %span{ class: "icon-#{info.icon}" }
        .day_summary
          %strong.area= name
          %p
            %strong.weekday= info.weekday
            = info.summary

            %a.primary{ href: "/about/#{name}.html" }
              Learn more
              %i.icon-double-angle-right

            %a{ href: "/schedule.html##{name}" }
              Schedule
              %i.icon-double-angle-right

          %p
            = name.titleize
            to Change the World day is being crafted by
            - people = data.people.select { |k, v| v.pages.include?(name) }.sort_by { |k, v| v.type + v.name }
            = succeed '.' do
              = people.map { |k, v| "<a href='#{v.url}' target=_blank>#{v.name}</a>" }.to_sentence

%hr

%p
  %strong= data.days[:each_day][:headline]
  and will include:
  %ul
    - data.days[:each_day][:includes].each do |item|
      %li= item
