
%header.hero-unit
  .alert.alert-warning We are 75% sold out!
  %h3
    The action-oriented, professional development conference
    %br
    %em for women developers by women developers.

  .lead
    Empowering ourselves and each other to become
    %br
    thought leaders, conference speakers, &amp; open source contributors.

  %ul.inline
    %li
      %a.btn.btn-info.pull-left{ href: '/about.html' } 
        Learn More
        %i.icon-double-angle-right
    %li
      %a.btn.btn-primary.pull-left{ href: 'http://writespeakcode.ticketleap.com/writespeakcode/' } 
        Register
        %i.icon-double-angle-right

  = partial 'ruby_central'


%ul.inline.day_list
  - data.days.days.each do |day|
    %li
      .day_icon.small
        %i{ class: "icon-#{data.schedule.actions[day.first].icon}" }
      - day.last[:milestones].each_with_index do |m, i|
        %p.milestones
          %strong= m[:header]
          = succeed '.' do
            = m[:description]

%hr
.platinum_sponsors
  %p Sponsored by
  %a{:href => "http://mailchimp.com", target: '_blank'}
    %img{:src => "/images/mailchimp-400.png"}/
