.lead Want to help out Write/Speak/Code? Here's what we need:

%ul.icons.icons-ul.opportunities
  %li
    %i.icon-li.icon-share-alt
    %strong Share your talk proposal!
    %br
    We are looking for women (and men!) to share real, live talk proposals.  The 
    proposals will be reviewed by attendees and conference organizers.
    %a.primary{ href: 'https://docs.google.com/forms/d/1TcNAbpIKHWQSuJpPUSDIikNrBixYQEJPAyqnGwCl4aQ/viewform', target: '_blank' }
      Submit your proposal
      %i.icon-double-angle-right
  %li
    %i.icon-li.icon-li.icon-retweet
    %strong Are you a conference organizer?
    %br
    We are looking for conference organizers with experience evaluating talk proposals to:
    %ul
      %li Be on a panel and give feedback on talk proposals on the afternoon of June 21st
      %li Give written feedback on talk proposals prior to the conference
    %a{ href: 'mailto:info@writespeakcode.com' } Email us
    if you're interested.

  %li
    %i.icon-li.icon-money
    %strong Know a company that wants to empower women developers?
    %br
    Share our 
    = link_to 'Sponsor page', '/sponsor.html'
    or email Chrys Wu at
    = succeed '.' do
      = link_to 'sponsor@writespeakcode.com', 'mailto:sponsor@writespeakcode.com'
  
  %li
    %i.icon-li.icon-food
    %strong Help us get free food
    %br
    If you know a restaurant, coffee shop, bakery, or other magical place that creates 
    sustenance that might be willing to donate food for lunch or snacks, have them 
    = succeed '.' do
      = link_to 'email us', 'mailto:info@writespeakcode.com'
    %br
    %small Note: due to our venue, we can only accept food donations and not discounts.
