- reg_url = 'https://docs.google.com/forms/d/1RIw6ZR4BI-ul0yxQlmLXYGO8MoQnvRQzuDFkHnTdkns/viewform'

.workshop
  .lead.btn-force-primary
    %h1  &lt;Own Your Expertise / Workshop&gt; Chicago!
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      January 11, 2015
      %i.icon-star-empty.muted
      %a{ href: 'https://www.google.com/maps?ll=41.891027,-87.625391&z=12&t=m&hl=en-US&gl=US&mapclient=embed&q=351+W+Hubbard+St+Chicago,+IL+60654' }
        Dev Bootcamp, 351 Hubbard St, 7th Fl
      %i.icon-star-empty.muted
      10am-6pm

  .volunteer.alert.alert-info
    %strong At capacity!

    %h3 We are still looking for volunteers.

    %ul{ style: 'list-style-type: none' }
      %li
        %strong Logistics:
        set up, tear down, meet caterers etc
      %li
        %strong Professional women
        with experience in the tech space (not necessarily technical)
      %li
        %strong Experienced women developers

    %p
      If you or someone you know would like to help empower women developers, email
      = link_to 'info@writespeakcode.com', 'mailto:info@writespeakcode.com'

  %ul.inline.workshop_sponsor_list
    %li
      %a{ href: 'http://google.com' }
        = image_tag '/images/sponsors/google-logo.png'
    %li
      %a{ href: 'http://github.com' }
        = image_tag '/images/sponsors/GitHub_Logo.png'
    %li
      %a{ href: 'http://devbootcamp.com' }
        = image_tag '/images/sponsors/dbc.png'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and New York City Workshops

  = partial 'workshop_details'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      San Francisco and New York City Workshops

  %p
    %a.btn.btn-primary.btn-large{ href: "#{reg_url}" }
      Register FREE
      %i.icon-double-angle-right
