.workshop
  .lead
    %h1  &lt;Own Your Expertise / Workshop&gt; San Francisco!
    %h3 FREE Full-day Intensive for Women Developers
    %p.lead
      October 11, 2014
      %i.icon-star-empty.muted
      %a{ href: 'https://www.google.com/maps/preview?ll=37.78471,-122.397354&z=14&t=m&hl=en-US&gl=US&mapclient=embed&q=633+Folsom+St+San+Francisco,+CA+94107' }
        Dev Bootcamp, 633 Folsom St, 6th Fl
      %i.icon-star-empty.muted
      9am-6pm

    %p
      %strong Thank you for a fantastic conference!

  %ul.inline.workshop_sponsor_list
    %li
      %a{ href: 'http://github.com' }
        = image_tag '/images/sponsors/GitHub_Logo.png'
    %li
      %a{ href: 'http://stripe.com' }
        = image_tag '/images/sponsors/stripe-300.png'
    %li
      %a{ href: 'http://hp.com/helion' }
        = image_tag '/images/sponsors/hp-logo-print.png'
    %li
      %a{ href: 'http://devbootcamp.com' }
        = image_tag '/images/sponsors/dbc.png'


  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      Chicago and New York City Workshops

  = partial 'workshop_details'

  %p
    %a{ href: "workshop.html" }
      %i.icon-double-angle-left
      Chicago and New York City Workshops

  %p
    %a.btn.btn-primary.btn-large{ href: 'https://docs.google.com/forms/d/1Vv8SLPs2y3Jdrl0rcnOMkAbbggboIdWTvxlxaAJuYAI/viewform' }
      Register FREE
      %i.icon-double-angle-right
